<!DOCTYPE html>
<html>
    <!-- KEEP THIS IN THERE so that you have access to the theme colors-->
    <link rel="stylesheet" href="/static/base.css">
    <link rel="stylesheet" href="/static/profiles.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
    <script src="/static/main.js"></script>
    <!--Real HTML below      ow-->

    <head>
        <title>TSOC [idk how versions work on this title]</title>
        <link rel="icon" type="image/png" id="icon" href="/static/icon.png">
    </head>

    <script src="/static/profiles.js"></script>

    <!-- woah! is that           is THAT A PAGE????????? WHAT THE FUCKKKKKKKKKKKKKKKKKKKKKKKKK-->
    <h1>hewwo owo</h1>
    <div id="profile_thing">
        <div id="profile-side">
            <img id="pfp-main" class="pfp" src="/static/default.jpg" alt="profile picture from bfb">
        </div>

        <div id="actionsDiv">
            <button class="thyButtons" id="editButton">Edit Profile</button>
            <button class="thyButtons" id="swapButton">Swap Accounts</button>
            <button class="thyButtons" id="logOutButton">Log Out</button>
        </div>
    </div>

    <div id="user-info-side">
        <!-- user part of the concept -->
        <div class="userInfoBox" id="user-info-USER">
            <p id="usernameIt">USER</p>
        </div>

        <!-- desc part of the concept -->
        <div class="userInfoBox" id="user-info-BIO">
            <p id="bioItself">this is me, a waffle cone maker. i make waffles for a living. they are super... tasty, i guess? i dont know, i've never eaten any of my waffles <br><br> my waffles are adored by my fans and family and i couldnt be happier</p>
        </div>
    </div>
</html>